# Backend environment variables
# Copy this file to .env and fill in your values
# Never commit .env to git

PORT=3000
MONGO_URI=mongodb://localhost:27017/nexhire # use local for development replace with your MongoDB Atlas URI for production before deployment
JWT_SECRET=a067dd106bc7405edc59d10c60aca2705c5226d8c2173dc230542b858adf93ef #will be changed later, use a strong secret in production
CLIENT_URL=http://localhost:5173
 